project:
  type: book
  resources: img

editor: source

execute:
  freeze: auto

book:
  title: "Introduction to Epidemiological Forecasting\n"
  subtitle: "Delphi Tools, Data, and Lessons"
  author: Daniel J. McDonald, Logan C. Brooks, Rachel Lobay, and Ryan J. Tibshirani
  search: true
  repo-url: https://github.com/cmu-delphi/delphi-tooling/book
  repo-actions: [source, issue]
  sharing: [twitter, facebook]
  date: last-modified
  date-format: DD MMMM YYYY
  sidebar:
    style: docked
  page-footer:
    center: |
      These Delphi Epitooling Materials were written by Daniel J. McDonald,
      Logan C. Brooks, and Ryan J. Tibshirani.
  chapters:
    - index.qmd
    - why-this-package.qmd
    - flatline-forecaster.qmd
    - tidymodels-intro.qmd
    - tidymodels-regression.qmd
    - preprocessing-and-models.qmd
    - sliding-forecasters.qmd
    - references.qmd

bibliography: [packages.bib, references.bib]

format:
  html:
    grid:
      sidebar-width: 400px
      body-width: 600px
    theme: [cosmo, delphi-epitools.scss]

