project:
  type: book
  resources: img

editor: source

execute:
  freeze: auto

book:
  title: "Introduction to Epidemiological Forecasting\n"
  subtitle: "Delphi Tools, Data, and Lessons"
  author: Daniel J. McDonald, Logan C. Brooks, Rachel Lobay, and Ryan J. Tibshirani
  search: true
  repo-url: https://github.com/cmu-delphi/delphi-tooling-book
  repo-actions: [source, issue, edit]
  sharing: [twitter, facebook]
  date: last-modified
  date-format: DD MMMM YYYY
  sidebar:
    style: docked
  page-footer:
    center: |
      These Delphi Epitooling Materials were written by Daniel J. McDonald,
      Logan C. Brooks, and Ryan J. Tibshirani.
  chapters:
    - index.qmd
    - why-this-package.qmd
    - part: "epiprocess"
      chapters:
      - epiprocess.qmd
      - epidf.qmd
      - slide.qmd
      - growth-rates.qmd
      - correlations.qmd
      - outliers.qmd
      - archive.qmd
    - part: "epipredict"
      chapters:
      - epipredict.qmd
      - forecast-framework.qmd
      - tidymodels-regression.qmd
      - tidymodels-regression-part2.qmd
      - tidymodels-intro.qmd
      - tidymodels-epipredict.qmd
      - flatline-forecaster.qmd
      - arx-forecaster.qmd
      - preprocessing-and-models.qmd
      - sliding-forecasters.qmd
    - references.qmd

bibliography: [packages.bib, references.bib]

format:
  html:
    grid:
      sidebar-width: 400px
      body-width: 600px
    theme: [cosmo, delphi-epitools.scss]

